body {
    color: #000; /* Change text color to black for better readability */
}

.right_conatct_social_icon {
    background: linear-gradient(to top right, #1325e8 -5%, #8f10b7 100%);
}

.contact_us {
    background-color: #f1f1f1;
    padding: 120px 0px;
}

.contact_inner {
    background-color: #fff;
    position: relative;
    box-shadow: 20px 22px 44px #cccc;
    border-radius: 25px;
}

.contact_field {
    padding: 60px 100px 90px 100px; /* Adjusted padding */
}

.contact_field h3 {
    font-size: 40px;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact_field p {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 35px;
}

.contact_field .form-control {
    width: 100%; /* Make the input fields take 100% width */
    margin-bottom: 20px; /* Adjusted margin */
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid #ccc;
}

.contact_field .form-control:focus {
    box-shadow: none;
    outline: none;
    border-bottom: 2px solid #1325e8;
}

.contact_field .form-control::placeholder {
    font-size: 13px;
    letter-spacing: 1px;
}

button.contact_form_submit {
    background: linear-gradient(to top right, #1325e8 -5%, #8f10b7 100%);
    border: none;
    color: #fff;
    padding: 10px 15px;
    border-radius: 35px;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: 2px;
}

.contact_info_sec {
    position: absolute;
    background-color: #2d2d2d;
    right: 1px;
    top: 18%;
    height: 340px;
    width: 340px;
    padding: 40px;
    border-radius: 25px 0 0 25px;
    color: rgb(142, 142, 142);
    font-family: Arial, Helvetica, sans-serif;
}

.contact_info_sec h4 {
    letter-spacing: 1px;
    padding-bottom: 15px;
}

.info_single {
    margin: 30px 0px;
}

.info_single i {
    margin-right: 15px;
}

.info_single span {
    font-size: 14px;
    letter-spacing: 1px;
}

.socil_item_inner li {
    list-style: none;
}

.socil_item_inner li a {
    color: #fff;
    margin: 0px 15px;
    font-size: 14px;
}

.socil_item_inner {
    padding-bottom: 10px;
}
